.bg-danger {
    background-color: #dc3545 !important;
  }
  .bg-warning {
    background-color: #ffdd57 !important;
  }
  .bg-warning-two {
    background-color: #ff7f0f !important;
  }
  .bg-success {
    background-color: #a0e515 !important;
  }
  .bg-info {
    background-color: #00c2b8 !important;
  }

.poke-name {
    text-transform: capitalize;
}

.poke-table{
  width: 100%;
}

.right-side-zoom {
  position: fixed;
  top: 0;
  right: -100%; 
  height: 100%;
  background-color: white; 
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); 
  transition: right 0.1s ease-in-out; 
}

.right-side-zoom.active {
  right: 0;
}

.poke-name {
  max-width: 10rem; /* Adjust as needed */
  white-space: nowrap;
}

.pokemon-image-row{
  max-width: 2rem;
}

.poke-type{
  max-width: 5rem;
}

td.poke-name img {
  margin-left: 5px; /* Adjust spacing between text and sprite */
}
